:root {
  --color-text-light: #fff;
  --color-text-dark: #000;
  --color1: #22577E;
  --color2: #5584AC;
  --color3: #95D1CC;
  --color4: #F6F2D4;
  --color5: #03001C;
  --gap-long: 150px;
  --gap-short: 20px;
  --padding-short: 5px;
  --padding-long: 50px;
  --img-height: 100vh;
  --img-width: 40vw;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: rgb(31, 31, 43);
  color: var(--color4);
}

div.extra {
  background-color: var(--color5);
  flex: 1;
}

div.extra#first {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  font-size: 1.5em;
}

main.container {
  display: flex;
  width: 100%;
}

main > section.con {
  max-width: 50% 400px;
  display: flex;
  flex-direction: column;
}

section.con#form-stuff {
  flex: 1;
  min-width: var(--img-width);
}

section > div.pila {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  padding: 0px 50px;
}

section > div.pila#last {
  gap: 10px;
  justify-content: left;
}

div.pila > button[type=submit] {
  padding: var(--padding-short);
  width: 200px;
}

section > div.pila#form-container {
  justify-content: center;
  background-color: var(--color5);
}

fieldset.camp {
  display: flex;
  justify-content: left;
  background-color: transparent;
  gap: var(--gap-long);
  padding-bottom: 20px;
  text-transform: uppercase;
  border: none;
}

fieldset > div.input {
  display: flex;
  flex-direction: column;
  gap: 2px;
  font-size: 0.8em;
}

input.create-acc {
  border: 1px solid var(--color1);
  background-color: #fff;
  padding: 10px 12px;
  font-size: 16px;
  font-size: 1rem;
  width: 100%;
  transition: all 0.5s ease-in-out;
}

input[type="text"], input[type="email"] {

}
:focus {
  outline: 0;
}
input[type="text"]:focus, input[type="email"]:focus {
  border: #711717;
}

h1 {
  padding-bottom: 1em;
}

img {
  height: calc(var(--img-height) - 5px);
  min-width: var(--img-width);
  object-fit: cover;
}

div.image-container {
  height: var(--img-height);
  font-size: 1em;
}

p.author-reference {
  font-size: 1em;
  position: absolute;
  bottom: 10px;
  left: 10px;
}

